
data/text/english/cuts/scanmsg.exe
data/text/english/cuts/scanmsg.txt
data/text/english/dialog/scanmsg.exe
data/text/english/dialog/scanmsg.txt
data/text/english/game/scanmsg.exe
data/text/english/game/scanmsg.txt

data/text/russian/cuts/scanmsg.exe
data/text/russian/cuts/scanmsg.txt
data/text/russian/dialog/scanmsg.exe
data/text/russian/dialog/scanmsg.txt
data/text/russian/game/scanmsg.exe
data/text/russian/game/scanmsg.txt

